<%= form_with(model: clone, local: true) do |form| %>
  <% if clone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clone.errors.count, "error") %> prohibited this clone from being saved:</h2>
      <ul>
      <% clone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.text_field :First_name,class:"form-control",placeholder:"Enter your First_name",style:"width:200px;" %>
  </div>
  <div class="form-group">
    <%= form.text_field :Last_name ,class:"form-control",placeholder:"Enter your Last_name",style:"width:200px;"%>
  </div>
  <div class="form-group">
    <%= form.text_field :email,class:"form-control",placeholder:"Enter your email",style:"width:200px;"  %>
  </div>
  <div class="form-group">
    <%= form.password_field :password,class:"form-control",placeholder:"Enter your password ",style:"width:200px;"  %>
  </div>
  <div class="form-group">
    <%= form.password_field :password_confirmation,class:"form-control",placeholder:"Enter your password again ",style:"width:200px;" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

