<p id="notice"><%= notice %></p>
<h1> FACEBOOK CLONE</h1>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @clones.each do |clone| %>
      <tr>
        <td><%= clone.First_name %></td>
        <td><%= clone.Last_name %></td>
        <td><%= clone.email %></td>
        <td><%= link_to 'Show', clone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


